ul[no-style] {
  list-style: none;
  padding: 0;
}
.wpx-drp-nav-btn {
  width: 50px;
}
.wpx-nav-btn {
  cursor: pointer;
  background-color: var(--wpx-body-bg);
  text-align: center;
  border: 1px solid var(--wpx-gray-500);
  display: flex;
  padding: var(--wpx-p0\25);
  width: inherit;
  justify-content: center;
}
.wpx-nav-btn:hover ~ .wpx-drp-nav ul,
.wpx-drp-nav:hover ul {
  display: block;
}
.wpx-nav-btn:hover ~ .wpx-drp-nav ul li {
  animation: swip-left 0.5s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-delay: 0.1s;
  animation-timing-function: cubic-bezier(0, 1.18, 1, 0.68);
  transform: translateX(100%);
}
.wpx-nav-btn:hover ~ .wpx-drp-nav ul li:nth-child(1) {
  animation: swip-left 0.2s;
  animation-fill-mode: forwards;
}
.wpx-nav-btn:hover ~ .wpx-drp-nav ul li:nth-child(2) {
  animation: swip-left 0.3s;
  animation-fill-mode: forwards;
}
.wpx-nav-btn:hover ~ .wpx-drp-nav ul li:nth-child(3) {
  animation: swip-left 0.4s;
  animation-fill-mode: forwards;
}
.wpx-nav-btn:hover ~ .wpx-drp-nav ul li:nth-child(4) {
  animation: swip-left 0.4s;
  animation-fill-mode: forwards;
}
.wpx-nav-btn:hover ~ .wpx-drp-nav ul li:nth-child(5) {
  animation: swip-left 0.4s;
  animation-fill-mode: forwards;
}
.wpx-nav-btn:hover ~ .wpx-drp-nav ul li:nth-child(6) {
  animation: swip-left 0.4s;
  animation-fill-mode: forwards;
}
.wpx-nav-btn:hover ~ .wpx-drp-nav ul li:nth-child(7) {
  animation: swip-left 0.4s;
  animation-fill-mode: forwards;
}
.wpx-nav-btn:hover ~ .wpx-drp-nav ul li:nth-child(8) {
  animation: swip-left 0.4s;
  animation-fill-mode: forwards;
}
@keyframes swip-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.wpx-nav-btn:hover img {
  border-radius: 50%;
}
.wpx-drp-nav {
  position: absolute;
  width: inherit;
  z-index: 100;
}
.wpx-drp-nav ul {
  text-align: center;
  background-color: var(--wpx-body-bg);
  padding: var(--wpx-p0\25);
  overflow: hidden;
}
.wpx-drp-nav ul li {
  text-align: center;
  background-color: var(--wpx-body-bg);
}
.wpx-drp-nav ul li a {
  display: block;
}
