/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

.wpx-chart-container {
  /* background-color: var(--wpx-chart-bg);
  border-radius: var(--lg-br-size);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 12rem; */
  flex-direction: column;
}
.wpx-chart-container > * {
}
.wpx-chart-container svg {
  position: relative;
}
.wpx-chart-container .wpx-ch-body {
  flex: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .wpx-chart-container {
    flex-direction: row;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
