<div class="wpx-cart wpx-{{ cart_en }}">
  <div class="wpx-cart-header">
    <a class="wpx-detail">
      <i class="la la-info"></i>
      <i class="la la-close" hidden></i>
    </a>
    <div>
      <div
        class="wpx-hl-logo wpx-rtl"
        style="padding-top: 16px; padding-bottom: 16px;"
      >
        <img
          src="{{ car_img_src }}"
          alt="{{ cartname }}"
          style="width: 30px; margin-left: 8px;"
        /><span class="sizechange">{{ cartname }}</span>
      </div>
    </div>
  </div>
  <div class="wpx-cart-body">
    <div class="wpx-cart-posts">
      تعداد پست ها: <span>{{ posts_count }}</span>
    </div>
    <div class="wpx-cart-chart"></div>
    <div class="wox-cart-footer">
      <div>
        <span class="label">تعداد کل آگهی های {{ cartname }} در سامانه:</span
        ><span>{{ posts_number }}</span>
      </div>
    </div>
  </div>
</div>
