<div [class]="'wpx-cart wpx-' + cartEn">
  <div class="wpx-cart-header">
    <a class="wpx-detail">
      <i class="la la-info"></i>
      <i class="la la-close" hidden></i>
    </a>
    <div>
      <div
        class="wpx-hl-logo wpx-rtl"
        style="padding-top: 16px; padding-bottom: 16px;"
      >
        <img
          [src]="cartImgSrc"
          [alt]="cartName"
          style="width: 30px; margin-left: 8px;"
        /><span class="sizechange">{{ cartName }}</span>
      </div>
    </div>
  </div>
  <div class="wpx-cart-body">
    <div class="wpx-cart-posts">
      تعداد پست ها: <span>{{ postsCount }}</span>
    </div>
    <div class="wpx-cart-chart"></div>
    <div class="wox-cart-footer">
      <div>
        <span class="label">تعداد کل آگهی های {{ cartName }} در سامانه:</span
        ><span>{{ advertisementNumber }}</span>
      </div>
    </div>
  </div>
</div>
