<div [id]="MODAL_ID" class="wpx-modal">
  <div class="wpx-modal-container wpx-fade-in">
    <div class="wpx-modal-header">
      <h3>Header</h3>
      <button (click)="closeModal()" class="wpx-close-icon">
        <img
          width="20px"
          src="http://www.svgrepo.com/show/178323/cross-close.svg"
          alt=""
        />
      </button>
    </div>
    <div class="wpx-modal-body"></div>
    <div class="wpx-modal-footer">
      <button (click)="closeModal()" class="wpx-modal-btn">بستن</button>
    </div>
  </div>
</div>
